@font-face {
  font-family: 'EduCursive';
  src: url('/fonts/PinyonScript-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'kalam';
  src: url('fonts/Kalam-Regular.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  font-family: Cinzel, serif;
  scrollbar-width: none;
  color: rgb(175, 148, 100);
}

body{
  background-color: white !important;
  overflow-x: hidden !important;
}
