.weddingheading {
  text-align: center;
  font-size: 5rem;
  margin:10vh 0 5vh 0;
  font-family: eduCursive, cursive;
}
.weddingimages{
  width:90%;
  height:60vh;
  display: flex;
  gap:1vw;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.firstdouble, .seconddouble{
  display:flex;
  flex-direction: column;
  gap:1vh;
}
.firstdouble img, .seconddouble img{
  width:10vw;
  height:29.5vh;
  border-radius:0.5rem;
}
.verticalweddingimg{
  width:15vw;
  height:60vh;
  border-radius:0.5rem;
}
.horizontalweddingimg{
  width:35vw;
  height:60vh;
  border-radius:0.5rem;
}

@media screen and (max-width: 768px) {

  .weddingheading {
  text-align: center;
  font-size: 2.8rem;
  margin:8svh 0 2svh 0;
  font-family: eduCursive, cursive;
}
.weddingimages{
  width:85%;
  height:90svh;
  display: flex;
  flex-direction: column;
  gap:1svw;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* background-color: red; */
}
.firstdouble, .seconddouble{
  display:flex;
  flex-direction: row;
  gap:1svh;
  width:100%;
  height:12svh;
}
.firstdouble img, .seconddouble img{
  width:49%;
  height:12svh;
  border-radius: 0.5rem;
}
.verticalweddingimg{
  width:100%;
  height:15svh;
  border-radius: 0.5rem;
}
.horizontalweddingimg{
  width:100%;
  height:30svh;
  border-radius: 0.5rem;
}
  
}