.ourvision-ourmission {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: 30vh;
  width:98%;
  margin:15vh auto;
  background-color: rgb(3,45, 39);
  border-radius: 0.5rem;
}

.our-vision,
.our-mission {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  width: 48vw;
  height: 30vh;
}
.our-vision p,
.our-mission p {
  color: rgb(158, 146, 146);
}

.ourvision-ourmission-middleline {
  height: 20vh;
  width: 0.1vw;
  border-radius: 2rem;
  background-color: rgb(158, 146, 146);
}

.outer-white-box {
  background-color: whitesmoke;
  width: 75%;
  height: 122vh;
  border-radius: 1rem;
  margin: 10vh auto;
  padding: 2.5rem;
  box-sizing: border-box;
}

.white-box {
  width: 70vw;
  height: 112vh;
  border-radius: 1rem;
  background-color: white;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.white-box p,
.white-box h2,
.white-box li {
  color: black;
  font-family: sans-serif;
}
.h3 {
  color: black;
  font-family: sans-serif;
}
.property-info p {
  margin-top: 2vh;
}
.aboutus-separationline {
  height: 0.1vh;
  width: 65vw;
  border-radius: 2rem;
  background-color: rgb(218, 211, 211);
  margin: 0vh auto;
}
.amenities-box {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-content: center;
  justify-items: left;
  margin-bottom: 2vh;
}
.aminitiesbox-value {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.check-in-out li,
.cancellation li {
  margin-top: 1vh;
  margin-left: 2vw;
}
.check-in-out h3,
.cancellation h3 {
  margin-bottom: 3vh;
}

@media screen and (max-width: 768px) {

  .ourvision-ourmission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8svh auto 4svh auto;
  gap: 2svw;
  height: 51svh;
  width:99.5%;
  background-color: rgb(3,45, 39);
  border-radius: 0.5rem;
}

.our-vision,
.our-mission {
  display: flex;
  flex-direction: column;
  gap: 2svh;
  justify-content: center;
  align-items: center;
  padding-left: 0rem;
  width: 98%;
  height: 22svh;
}
.our-mission h1,
.our-vision h1 {
  font-size: 1.5rem;
}

.our-vision p,
.our-mission p {
  color: rgb(158, 146, 146);
  font-size: 0.8rem;
}

.ourvision-ourmission-middleline {
  height: 0.1svh;
  width: 80%;
  border-radius: 2rem;
  background-color: rgb(158, 146, 146);
}

.outer-white-box {
  background-color: whitesmoke;
  width: 98%;
  height: 122svh;
  border-radius: 1rem;
  margin: 5svh auto 3svh auto;
  padding: 0rem;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
}

.white-box {
  width: 95%;
  height: 97%;
  border-radius: 1rem;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2svh;
}

.white-box p,
h2,
li {
  color: black;
  font-family: sans-serif;
}
.white-box h2 {
  font-size: 1.3rem;
}
.white-box p{
  font-size: 0.8rem;
}

.property-info p {
  margin-top: 1svh;
  font-size: 0.8rem;
}

.aboutus-separationline {
  height: 0.1vh;
  width: 90%;
  border-radius: 2rem;
  background-color: rgb(218, 211, 211);
  margin: 0vh auto;
}

.h3 {
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
}

.amenities-box {
  margin-top: 3.5svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5svh;
  align-content: center;
  justify-items: left;
  margin-bottom: 2vh;
}
.aminitiesbox-value {
  display: flex;
  gap: 1.5svw;
  justify-content: center;
  align-items: center;
}
.aminitiesbox-value img {
transform: scale(0.8);
}

.check-in-out li,
.cancellation li {
  margin-top: 0.5svh;
  margin-left: 7svw;
}
.check-in-out h3,
.cancellation h3 {
  margin-bottom: 2.5svh;
}
}

