.accomodation-main-line {
  height: 0.1vh;
  width: 100%;
  opacity: 50%;
  margin: auto;
  border-radius: 50%;
  background-color: rgb(158, 146, 146);
}
.accomodationheading {
  margin: 5vh 0vh 2vh 0vh;
  text-align: center;
}
.accomodationheading h1 {
  font-family: "EduCursive", cursive;
  font-size: 3rem;
  font-weight: 5000;
}
.accomodationheading p {
  font-size: 1.2rem;
  color: rgb(3, 45, 39);
  width: 80%;
  margin: auto;
}
.accomodation-heading-line {
  height: 0.1vh;
  width: 30%;
  opacity: 50%;
  margin: auto;
  border-radius: 50%;
  background-color: rgb(158, 146, 146);
}

.accomodation-box {
  margin: 7vh 3vw 8vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem 0rem;
  background-color: white;
}

.accomodation-box h1 {
  font-size: 2.5rem;
  text-align: center;
}

.accomodation-box p {
  color: rgb(182, 168, 148);
  align-self: flex-start;
  margin-left: 3vw;
}
.accomodation-line {
  height: 0.1vh;
  width: 80%;
  background-color: rgb(158, 146, 146);
  margin-top: -3vh;
  border-radius: 2rem;
  opacity: 50%;
}

.accomodationbox-img {
  width: 95%;
  height: fit-content;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5vw;
}
.accomodationbox-mainimg {
  width: 45%;
}
.accomodationbox-mainimg img {
  width: 100%;
  height: 75vh;
  border-radius: 0.5rem;
  object-fit: cover;
}

.accomodationbox-sideimg {
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2vw;
}
.accomodationbox-sideimg img {
  width: 100%;
  height: 37.4vh;
  border-radius: 0.5rem;
  object-fit: cover;
}

.accomodationbox-svgs {
  margin-top: 3vh;
  display: flex;
  gap: 10vw;
}

.svg-explain {
  margin-top: -2vh;
}
.accomodation-svgline {
  margin-top: -4vh;
  height: 0.1vh;
  width: 20vw;
  background-color: rgb(158, 146, 146);
  border-radius: 2rem;
  opacity: 50%;
}

@media screen and (max-width: 500px) {
  .accomodationheading {
    margin: 5svh 0vh 0svh 0vh;
    text-align: center;
  }
  .accomodationheading h1 {
    font-family: "EduCursive", cursive;
    font-size: 2rem;
    font-weight: 5000;
  }
  .accomodationheading p {
    font-size: 0.7rem;
    width: 99%;
    margin: 0svh auto 1svh auto;
  }
  .accomodation-heading-line {
    width: 60%;
    margin: auto;
  }

  .accomodation-box {
    margin: 5svh auto 5svh auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 2svh;
    padding: 0.5rem 0rem;
  }

  .accomodation-box h1 {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(175, 132, 58);
  }

  .accomodation-box p {
    font-size: 0.8rem;
  }
  .accomodation-line {
    height: 0.1svh;
    width: 80%;
    background-color: rgb(158, 146, 146);
    margin-top: -0.5svh;
    margin-bottom: 1svh;
  }

  .accomodationbox-img {
    width: 96%;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.8svw;
  }
  .accomodationbox-mainimg {
    width: 100%;
  }
  .accomodationbox-mainimg img {
    width: 100%;
    height: 50svh;
  }

  .accomodationbox-sideimg {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5svw;
  }
  .accomodationbox-sideimg img {
    width: 100%;
    height: 25vh;
  }

  .accomodationbox-svgs {
    margin-top: 2svh;
    display: flex;
    gap: 10svw;
  }

  .svg img {
    transform: scale(0.7);
  }

  .svg-explain {
    margin-top: -1.5svh;
  }
  .svg-explain p {
    font-size: 0.6rem;
    color: rgb(158, 146, 146);
  }
  .accomodation-svgline {
    margin-top: -1.5svh;
    height: 0.1svh;
    width: 30%;
    background-color: rgb(158, 146, 146);
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .accomodationheading {
    margin: 5svh 0vh 0svh 0vh;
    text-align: center;
  }
  .accomodationheading h1 {
    font-family: "EduCursive", cursive;
    font-size: 2rem;
    font-weight: 5000;
  }
  .accomodationheading p {
    font-size: 0.7rem;
    width: 99%;
    margin: 0svh auto 1svh auto;
  }
  .accomodation-heading-line {
    width: 60%;
    margin: auto;
  }

  .accomodation-box {
    margin: 5svh auto 5svh auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 2svh;
    padding: 0.5rem 0rem;
  }

  .accomodation-box h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .accomodation-box p {
    font-size: 0.9rem;
  }
  .accomodation-line {
    height: 0.1svh;
    width: 80%;
    background-color: rgb(158, 146, 146);
    margin-top: -0.5svh;
    margin-bottom: 1svh;
  }

  .accomodationbox-img {
    width: 96%;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.8svw;
  }
  .accomodationbox-mainimg {
    width: 100%;
  }
  .accomodationbox-mainimg img {
    width: 100%;
    height: 60svh;
  }

  .accomodationbox-sideimg {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5svw;
  }
  .accomodationbox-sideimg img {
    width: 100%;
    height: 35svh;
  }

  .accomodationbox-svgs {
    margin-top: 2svh;
    display: flex;
    gap: 10svw;
  }

  .svg img {
    transform: scale(0.7);
  }

  .svg-explain {
    margin-top: -1.5svh;
  }
  .svg-explain p {
    font-size: 0.6rem;
    color: rgb(158, 146, 146);
  }
  .accomodation-svgline {
    margin-top: -1.5svh;
    height: 0.1svh;
    width: 30%;
    background-color: rgb(158, 146, 146);
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  .accomodation-box {
    margin: 7vh 1vw 8vh 1vw;
  }
  .accomodationheading p {
    font-size: 1rem;
    width: 95%;
  }

  .accomodationbox-img {
    width: 97%;
  }

  .accomodationbox-mainimg {
    width: 40%;
  }
  .accomodationbox-mainimg img {
    width: 100%;
    height: 60vh;
  }

  .accomodationbox-sideimg {
    width: 60%;
  }
  .accomodationbox-sideimg img {
    width: 100%;
    height: 29.9vh;
  }
}
