*{
    padding: 0;margin: 0;
}

.mudroom{
    margin:15vh 5vw 15vh 5vw;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap:5vh;
}

.box h1{
    font-size: 2.5rem;
    text-align: center;
    color:rgb(175, 132, 58);
}

.box p{
    color:rgb(158, 146, 146);

}
.box .line{
    height:0.1vh;
    width:80vw;
    background-color:rgb(158, 146, 146);
    margin-top: -3vh;
    border-radius: 2rem;
}

.boximg{
    width: 80vw;
    height: 50vh;
    border-radius: 2rem;
    display: flex;
    gap:1vw;
    /* background-color: white; */
}
.boxmainimg{
    width:39.5vw;
    /* background-color: yellow; */
}
.boxmainimg img{
    width:39.5vw;
    height:50vh;
    border-radius: 2rem;
}

.boxsideimg{
    width:39.5vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0.5vw;
    /* background-color: blue; */
}
.boxsideimg img{
    width:19.5vw;
    height:24vh;
    border-radius: 2rem;
}

.boxsvgs{
    margin-top: 3vh;
    display: flex;
    gap:10vw;
}

.svg img{
    filter:invert();
}

.svgexplain{
    margin-top:-2vh;
}
.svgline{
    margin-top: -4vh;
    height:0.1vh;
    width:20vw;
    background-color:rgb(158, 146, 146);
    border-radius: 2rem;
}