.eventheading {
  text-align: center;
  margin-top: 15vh;
}
.eventheading h1 {
  font-size: 3rem;
  font-family: playfair;
}
.eventmiddleline {
  width: 80%;
  height: 0.2vh;
  background-color: rgb(218, 211, 211);
  margin: 2vh auto 10vh auto;
  border-radius: 2rem;
}
.eventbox {
  margin: 5vh auto 10vh auto;
  display: flex;
  gap: 4vw;
  width: 80vw;
  /* height: 60vh; */
}

.eventboxinfo {
  width: 38vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
  /* align-items: center; */
}
.eventboxinfo h1 {
  font-size: 4rem;
  font-family: "EduCursive", cursive;
}
.eventboxinfo p {
  color: rgb(182, 168, 148);
}

.eventboximg {
  width: 38vw;
  display: flex;
  gap: 1vw;
  height: 60vh;
  object-fit: cover;
}

.eventboximg img {
  width: 18.5vw;
  height: 50vh;
}
.eventboximg img:last-child {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .eventheading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10svh;
    margin-bottom: 7svh;
  }
  .eventheading h1 {
    font-size: 1.8rem;
  }
  .eventmiddleline {
    width: 90%;
    height: 0.2svh;
    background-color: rgb(218, 211, 211);
    margin: 4svh auto 10svh auto;
    border-radius: 2rem;
  }
  .eventbox {
    margin: 2svh auto 0svh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4svw;
    width: 99.5%;
  }
  .eventbox2,
  .eventbox4 {
    flex-direction: column-reverse;
  }

  .eventboxinfo {
    width: 100%;
    height: 40svh;
    display: flex;
    flex-direction: column;
    gap: 2svh;
    justify-content: center;
    padding: 0rem 0.3rem;
    box-sizing: border-box;
  }
  .eventboxinfo h1 {
    font-size: 2.5rem;
    font-family: "EduCursive", cursive;
  }
  .eventboxinfo p {
    font-size: 0.8rem;
  }

  .eventboximg {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 0.3svh;
    height: 51svh;
    margin: auto;
    /* background-color: yellow; */
  }

  .eventboximg img {
    width: 90%;
    height: 25svh;
    border-radius: 0.5rem;
  }
  .eventboximg img:last-child {
    align-self: flex-end;
  }
}

@media screen and (min-width:500px) and (max-width:768px){
  
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .eventheading {
    margin-top: 10vh;
  }
  .eventbox {
    margin: 5vh auto 10vh auto;
    gap: 5%;
    width: 90%;
  }
  .eventmiddleline {
    width: 90%;
    height: 0.2vh;
    background-color: rgb(218, 211, 211);
    margin: 2vh auto 10vh auto;
    border-radius: 2rem;
  }

  .eventboxinfo {
    width: 50%;
  }
  .eventboxinfo h1 {
    font-size: 3rem;
  }
  .eventboximg {
    width: 45%;
    display: flex;
    gap: 1%;
    height: 60vh;
  }
  .eventboximg img {
    width: 49.5%;
    height: 50vh;
  }
}
