.videoGallery-main-line {
  height: 0.1vh;
  width: 100%;
  opacity: 50%;
  border-radius: 50%;
  background-color: rgb(158, 146, 146);
}
.videoGalleryheading {
  margin-top: 10vh;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  font-family: playfair;
}
.videoGallery-heading-line {
  height: 0.1vh;
  width: 30%;
  opacity: 50%;
  border-radius: 50%;
  margin: 1vh auto 8vh auto;
  background-color: rgb(158, 146, 146);
}
.videoGalleryvideos {
  margin: 0vh 2vw 15vh 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap: 1vh;
}
.videoGalleryvideos video {
  width: 100%;
  height: 35vh;
  border-radius: 0.5rem;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .videoGalleryheading {
    margin-top: 5svh;
    font-size: 1.9rem;
    font-weight: 600;
  }
  .videoGallery-heading-line {
    height: 0.1vh;
    width: 50%;
    opacity: 50%;
    border-radius: 50%;
    margin: 0.5svh auto 5svh auto;
  }
  .videoGalleryvideos {
    margin: 0svh 0.5svw 10svh 0.5svw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 0.5svh;
  }
  .videoGalleryvideos video {
    width: 100%;
    height: 25svh;
    border-radius: 0.3rem;
  }
}
