.desktop-fixed-svg {
  width: 2.5vw;
  aspect-ratio: 1/1;
   position: fixed;
  bottom: 2vh;
  right: 1vw;
  z-index: 1000;
  cursor: pointer;
  animation: blink 2s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


