.footer {
  width: 100%;
  height: 52vh;
  border-radius: 2rem 2rem 0rem 0rem;
  /* background-color: rgb(10, 10, 10); */
  background-color: rgb(229, 229, 229);
  position: relative;
  margin-top: 15vh;
}

.footerinfo {
  display: flex;
  gap: 2vw;
  padding: 3rem;
  box-sizing: border-box;
  justify-content: space-between;
}


.howtogethere {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 15vw;
  height: 25vh;
}
.howtogethere img {
  width: 15vw;
  height: 22vh;
  object-fit: cover;
}

.quicklinks-footercontact{
  display: flex;
  gap: 7vw;
  width: 37vw;
  height: 25vh;
}

.quicklinks {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 15vw;
  height: 25vh;
}
.quicklinks a,.footercontact a {
  text-decoration: none;
}

.footercontact {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 15vw;
  height: 25vh;
}

.footerlogo img {
  width: 15vw;
  height: 25vh;
  border-radius: 1rem;
}
.footersocials {
  display: flex;
  gap: 2vw;
  padding:0.5rem 0rem 0rem 1.5rem;
}
.footersocials img {
  width:1.8vw;
 aspect-ratio: 1/1;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 35%;
}
.copyright p {
  text-align: center;
  padding: 0.3rem;
}



@media screen and (max-width: 768px) {
 
.footer {
  width: 100%;
  height: 130svh;
  border-radius: 2rem 2rem 0rem 0rem;
  position: relative;
  margin-top: 15svh;
}

.footerinfo {
  display: flex;
  flex-direction: column;
  gap: 10svw;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: space-between;
}


.howtogethere {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  width: 100%;
  height: 18svh;
}
.howtogethere h3 {
  font-size: 1rem;
}
.howtogethere img {
  width: 35svw;
  height: 17svh;
  object-fit: cover;
}
.quicklinks-footercontact{
  display: flex;
  gap: 7svw;
  width: 100%;
  height: 40svh;
  margin-top: 3svh;
}
.quicklinks {
  display: flex;
  flex-direction: column;
  gap: 2svh;
  width: 100%;
  height: 25svh;
}
.footercontact {
  display: flex;
  flex-direction: column;
  gap: 2svh;
  width: 100%;
  height: 25svh;
}
.quicklinks a,.footercontact a {
  text-decoration: none;
  font-size: 0.932rem;
}

.footerlogosection{
  align-self: center;
}

.footerlogo img {
  width: 50svw;
  aspect-ratio: 1/1;
  align-self: center;
  border-radius: 0.5rem;
}
.footersocials {
  display: flex;
  gap: 5.7svw;
  padding:0.5rem 0rem 0rem 1.5rem;
}
.footersocials img {
 width:6.5svw;
 aspect-ratio: 1/1;
}

.copyright {
  position: absolute;
  bottom: 5%;
  left:0%;
  width:100%;
}
.copyright p {
  text-align: center;
  font-size: 0.8rem;
} 
}
