.footer {
  width: 100%;
  height: 32vw;
  border-radius: 2rem 2rem 0rem 0rem;
  background-color: rgb(229, 229, 229);
  position: relative;
  margin-top: 5vw;
  background-image: url("/aanya-greens/assets/footerimg.png");
  background-size: contain;
}

.footerinfo {
  display: flex;
  gap: 2vw;
  padding: 3rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vw;
}

.howtogethere {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 16%;
  height: fit-content;
}
.howtogethere img {
  width: 100%;
  aspect-ratio: 2.7/2;
  object-fit: cover;
}

.quicklinks-footercontact {
  display: flex;
  justify-content: center;
  gap: 25%;
  width: 50%;
  height: fit-content;
}

.quicklinks,
.footercontact {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: fit-content;
}
.quicklinks a,
.footercontact a {
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
.quicklinks a:hover,
.quicklinks a.active {
  color: rgb(250, 235, 215);
}

.footerlogosection {
  width: 15%;
}

.footerlogo img {
  width: 100%;
  aspect-ratio: 2/1;
}
.footersocials {
  display: flex;
  gap: 2vw;
  padding: 0.5rem 0rem 0rem 0.5rem;
}
.footersocials img {
  width: 14%;
  aspect-ratio: 1/1;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 501px) {
  .footer {
    width: 100%;
    height: 210svw;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    margin-top: 20svw;
    padding-top: 4svw;
  }

  .footerinfo {
    display: flex;
    flex-direction: column;
    gap: 13svw;
    padding: 2rem 1rem;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .howtogethere {
    display: flex;
    flex-direction: row;
    gap: 6svw;
    width: 100%;
    height: fit-content;
  }
  .howtogethere h3 {
    font-size: 1rem;
  }
  .howtogethere img {
    width: 45%;
    aspect-ratio: 3/2;
  }
  .quicklinks-footercontact {
    display: flex;
    gap: 2%;
    width: 100%;
    height: fit-content;
    margin-top: 6svw;
  }
  .quicklinks,
  .footercontact {
    display: flex;
    flex-direction: column;
    gap: 5svw;
    width: 49%;
  }
  .quicklinks a,
  .footercontact a {
    text-decoration: none;
    font-size: 0.8rem;
  }
  .quicklinks h3,
  .footercontact h3 {
    text-decoration: none;
    font-size: 1rem;
  }

  .footerlogosection {
    align-self: center;
    margin-top: 8svw;
    width: 65%;
  }

  .footerlogo img {
    width: 100%;
    aspect-ratio: 2/1;
  }
  .footersocials {
    display: flex;
    gap: 9svw;
    padding: 0rem 0rem 0rem 1rem;
  }
  .footersocials img {
    width: 11.5%;
    aspect-ratio: 1/1;
  }

  .copyright {
    text-align: center;
    left: 0;
    transform: translate(0);
  }
  .copyright p {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 1100px) {
  .footer {
    height: 52vw;
    margin-top: 10vw;
  }

  .footerinfo {
    gap: 1vw;
    padding: 1.5rem;
    padding-top: 8vw;
  }

  .howtogethere {
    gap: 1vw;
    width: 18%;
    font-size: 0.7rem;
  }
  .howtogethere img {
    width: 100%;
    aspect-ratio: 2.7/2;
    object-fit: cover;
  }

  .quicklinks-footercontact {
    gap: 10%;
    width: 60%;
  }

  .quicklinks,
  .footercontact {
    gap: 2vw;
  }
  .quicklinks a,
  .footercontact a {
    text-decoration: none;
    transition: color 0.4s ease-in-out;
    font-size: 0.8rem;
  }
  .quicklinks h3,
  .footercontact h3 {
    font-size: 1rem;
  }
  .quicklinks a:hover,
  .quicklinks a.active {
    color: rgb(250, 235, 215);
  }

  .footerlogosection {
    width: 19%;
  }

  .footerlogo img {
    width: 100%;
    aspect-ratio: 2/1;
  }
  .footersocials {
    display: flex;
    gap: 2vw;
    padding: 0.5rem 0rem 0rem 0.5rem;
  }
  .footersocials img {
    width: 16%;
    aspect-ratio: 1/1;
  }

  .copyright {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    left: 0;
    transform: translate(0);
    padding-bottom: 0.5rem;
  }
}

