.footer {
  width: 100%;
  height: 52vh;
  border-radius: 2rem 2rem 0rem 0rem;
  background-color: rgb(10, 10, 10);
  position: relative;
  margin-top: 15vh;
}

.footerinfo {
  display: flex;
  gap: 2vw;
  padding: 3rem;
  box-sizing: border-box;
  justify-content: space-between;
}


.howtogethere {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 15vw;
  height: 25vh;
}
.howtogethere img {
  width: 15vw;
  height: 22vh;
  object-fit: cover;
}

.quicklinks {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 15vw;
  height: 25vh;
}
.quicklinks a,.footercontact a {
  text-decoration: none;
}

.footercontact {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 15vw;
  height: 25vh;
}

.footerlogo img {
  width: 15vw;
  height: 25vh;
}
.footersocials {
  display: flex;
  gap: 2vw;
  padding:0.5rem 0rem 0rem 1.5rem;
}
.footersocials img {
 scale:1.4;
 filter: invert(100%);
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 40%;
}
.copyright p {
  text-align: center;
  /* color: white; */
  padding: 0.3rem;
}
