.formstart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  margin-top: 15vh;
}
.formheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  font-family: EduCursive, cursive;
}
.forminput {
  width: 85%;
}
.forminput form {
  width: 100%;
  display: grid;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item5 item6 item6";
  gap: 0.5vw;
  margin: auto;
  /* background-color: #606C5D; */
  /* border-radius: 0.5rem; */
}

.forminput input {
  /* background-color: transparent; */
  background-color: rgb(18,18, 18);
  /* color: rgb(175, 148, 100); */
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  /* border-bottom: 1px solid rgb(175, 148, 100); */
}
.forminput ::placeholder{
  /* color:rgb(175, 148, 100); */
}
.form-name {
  grid-area: item1;
}
.form-phone {
  grid-area: item2;
}
.form-event {
  grid-area: item3;
}
.form-guests {
  grid-area: item4;
}

.form-specific-details {
  height: 8vh;
  grid-area: item5;
}
#booknow {
  background-color: rgb(175, 148, 100);
  color: black;
  font-weight: bold;
  width: 15vw !important;
  height: 6vh;
  cursor: pointer;
  margin: auto;
  grid-area: item6;
}

@media screen and (max-width: 768px) {
  .formstart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3svh;
    margin-top: 5svh;
    margin-bottom: -5svh;
  }
  .formheading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1svh;
    font-family: EduCursive, cursive;
  }
  .formheading h1 {
    font-size: 2rem;
  }
  .formheading p {
    font-size: 0.7rem;
    margin-left:2svw;
  }
  .forminput {
    width: 95%;
  }
  .forminput form {
    width: 100%;
    display: grid;
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item5 item5"
      "item6 item6";
    gap: 0.8svw;
    margin: auto;
  }

  .forminput input {
    background-color: black;
    color: rgb(175, 148, 100);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
  }
  .form-specific-details {
    height: 12svh;
    grid-area: item5;
  }
  #booknow {
    background-color: rgb(175, 148, 100);
    color: black;
    font-weight: bold;
    width: 50svw !important;
    height: 7svh;
    cursor: pointer;
    margin:0.5svh auto;
    grid-area: item6;
  }
}
