.nav {
  height: 7vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-radius: 0rem 0rem 2rem 2rem;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  padding: 0rem 4rem;
  box-sizing: border-box;
}
.Navleft,
.Navright {
  display: flex;
  gap: 4vw;
  width: fit-content;
}

.nav a {
  color: rgb(175, 148, 100);
  text-decoration: none;
  font-size: 0.9rem;
  border-bottom: 1px solid transparent;
  transition: color 0.4s ease-in-out, border-bottom-color 0.3s ease-in-out;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: gloock;
}
.nav a:hover,
.nav a.active {
  color: rgb(3, 45, 39);
  border-bottom: 1px solid rgb(3, 45, 39);
}
.logo {
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo a:hover,
.logo a.active {
  border: none !important;
}
.logo img {
  width: 100%;
  aspect-ratio: 2/1;
}

.mobile-nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16svw;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
}
.mobile-logo img {
  width: 25%;
  aspect-ratio: 2/1;
  border-radius: 0.5rem;
  position: absolute;
  top: 2vw;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.menu-icon {
  margin-right: 5svw;
}
.menu-icon img {
  width: 8svw;
  aspect-ratio: 1/1;
}

.mobile-fixed-svg img {
  width: 8svw;
  aspect-ratio: 1/1;
}
.mobile-fixed-svg {
  margin-left: 5svw;
}
.navlinks {
  position: absolute;
  z-index: 1000;
  top: 0svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5svh;
  width: 100%;
  background-color: white;
  overflow: hidden;
}
.navlinks a {
  color: rgb(175, 148, 100);
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: playfair;
}
.navlinks a.active {
  color: rgb(3, 45, 39);
  border-bottom: 1px solid rgb(3, 45, 39);
}
.hide {
  height: 0svh !important;
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}
.show {
  /* height: 1165%; */
  height:100svh;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.navcontactnumber {
  display: flex;
  align-items: center;
  gap: 3svw;
  margin-top: 15svh;
}
.navcontactnumber p :link {
  font-size: 1rem;
  border-bottom: 1px solid rgb(175, 148, 100);
}
.navcontactnumber img{
  width:5vw;
  aspect-ratio: 1/1;
}

.navlinks-logo-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1svh 0svh 6svh 0svh;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .nav {
    height: 8vw;
    padding: 0rem 1.5rem;
  }
  .Navleft,
  .Navright {
    gap: 3vw;
  }
  .nav a {
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    font-weight: 500;
  }
  .logo {
    width: 14%;
  }
}
