.mainimg {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.mainimg video {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  pointer-events: none;
  background-image: url("./assets/contactimg.png");
  background-size: cover;
  background-position: top;
}

.mainpagegallerysection {
  width: 92%;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1.5rem;
}
.mainpagegallerytext {
  text-align: center;
  margin-bottom: 5vh;
}
.mainpagegallerytext h1 {
  font-family: "parisienne";
  font-size: 3rem;
  font-weight: 5000;
  /* color: rgb(175, 148, 100); */
  color: rgb(3, 45, 39);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.mainpage-gallery-imagesection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.mainpagegalleryimg {
  width: 100%;
  height: 38vh;
  overflow: hidden;
}
.mainpagegalleryimg img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.mainpageaccomodationheading {
  margin: 100vh 0vh 5vh 0vh;
  text-align: center;
  font-size: 1.7rem;
}
.mainpageaccomodationheading h1 {
  font-family: "parisienne";
  margin-bottom: 1vh;
  font-size: 3rem;
  font-weight: 5000;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
}
.mainpageaccomodationheading p {
  font-size: 1.2rem;
  color: rgb(3, 45, 39);
  width: 80%;
  margin: auto;
}

.mainpageaccomodation {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 1vw;
  overflow: hidden;
}
.mainpageAccomodationbox {
  position: relative;
  height: 60vh;
  flex: 1;
  transition: flex 0.5s ease-in-out;
}
.mainpageAccomodationbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}
.mainpageaccomodationtext {
  position: absolute;
  bottom: 2vh;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.mainpageaccomodationtext h3 {
  color: white;
  font-family: "parisienne" !important;
  font-size: 2rem;
  font-weight: 1900;
}

.mainpageAccomodationbox.focused {
  flex: 5;
  z-index: 2;
}

.mainpageAccomodationbox.shrunk {
  flex: 0.8;
}

.mainpageeventbox {
  margin-top: 10vh !important;
  background-color: rgb(3, 45, 39);
  width: 98%;
  margin: auto;
  border-radius: 0.5rem;
  padding: 1rem 0rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.mainpageeventheading {
  text-align: center;
  font-size: 3rem;
  margin: 2vh 0 5vh 0;
  font-family: playfair;
}
.mainpageeventinfo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  width: 98%;
}
.eventpara {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15vh;
  color: rgb(218, 211, 211);
}
.eventlink {
  color: rgb(250, 235, 215);
  text-decoration: none;
  border-bottom: rgb(250, 235, 215) 1px solid;
}
.eventimages {
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.eventimages img {
  width: 40%;
  height: 85%;
}
.eventimages img:nth-child(2) {
  align-self: flex-end;
}

.foodsection {
  width: 90%;
  margin: 3vh auto 10vh auto;
}
.foodheading {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 8vh;
}

.foodimgsection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap:1vw;
}
.foodimgsection img{
  width:80%;
  height:90%;
  border-radius: 0.5rem;
}

@media screen and (max-width: 550px) {
  .mainimg {
    width: 100%;
    height: 60svh;
  }

  .mainpagegallerysection {
    width: 100%;
    padding: 0.5rem 0.1rem;
    box-sizing: border-box;
    position: absolute;
    top: 65svh;
    right: 0svw;
  }
  .mainpagegallerytext {
    text-align: center;
    margin-bottom: 2svh;
    margin-top: 1svh;
  }
  .mainpagegallerytext h1 {
    font-size: 1.75rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .mainpage-gallery-imagesection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8svw;
    justify-items: center;
    align-items: center;
  }
  .mainpagegalleryimg {
    width: 99%;
    height: 20svh;
  }
  .mainpagegalleryimg img {
    width: 100%;
    height: 100%;
  }

  .mainpageaccomodationheading {
    margin: 77svh 0vh 1svh 0vh;
    text-align: center;
  }
  .mainpageaccomodationheading h1 {
    font-size: 1.8rem;
    margin-bottom: 2svh;
    letter-spacing: 0.01em;
    word-spacing: 0em;
  }
  .mainpageaccomodationheading p {
    font-size: 0.7rem;
    width: 99%;
    margin: 0svh auto 3svh auto;
  }

  .mainpageaccomodation {
    height: 118svh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2svw;
    overflow: hidden;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .mainpageAccomodationbox {
    position: relative;
    height: 22svh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  .mainpageAccomodationbox img {
    width: 100%;
    height: 22svh;
    cursor: pointer;
    border-radius: 0;
  }

  .mainpageaccomodationtext {
    position: absolute;
    bottom: 0.1svh;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.1px;
    box-sizing: border-box;
  }
  .mainpageaccomodationtext h3 {
    color: white;
    font-family: "EduCursive", cursive;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .mainpageeventbox {
    background-color: rgb(3, 45, 39);
    width: 99.5%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.5rem 0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0bo.7);
  }

  .mainpageeventheading {
    text-align: center;
    font-size: 1.8rem;
    margin: 2svh 0 3svh 0;
  }
  .mainpageeventinfo {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0svw;
    width: 98%;
    height: 88svh;
  }
  .eventpara {
    width: 100%;
    height: 33svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5svh;
  }
  .eventpara p {
    font-size: 0.6rem;
    width: 100%;
    text-align: center;
  }
  .eventlink {
    font-size: 0.8rem;
  }
  .eventimages {
    width: 98%;
    height: 54svh;
    display: flex;
    flex-direction: column;
    gap: 1svw;
  }
  .eventimages img {
    width: 92%;
    height: 25svh;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .eventimages img:nth-child(2) {
    align-self: flex-end;
  }

  .foodsection {
  width: 98%;
  margin: 3svh auto 10svh auto;
}
.foodheading {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 2svh;
}

.foodimgsection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap:0.5svw;
}
.foodimgsection img{
  width:95%;
  height:95%;
  border-radius: 0.5rem;
}
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .mainimg {
    height: 80vw;
  }
  .mainpagegallerysection {
    width: 100%;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    top: 85vw;
    right: 0vw;
  }
  .mainpagegallerytext {
    margin-bottom: 3vw;
  }
  .mainpagegallerytext h1 {
    font-size: 2.3rem;
  }

  .mainpage-gallery-imagesection {
    gap: 0.8vw;
  }
  .mainpagegalleryimg {
    width: 100%;
    height: 30vh;
  }
  .mainpageaccomodationheading {
    margin: 80vh 0vh 5vh 0vh;
  }

  .mainpageaccomodationheading h1 {
    font-size: 2.8rem;
  }
  .mainpageaccomodationheading p {
    font-size: 1rem;
    width: 98%;
  }

  .mainpageaccomodation {
    height: 140vw;
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    overflow: hidden;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .mainpageAccomodationbox {
    position: relative;
    height: 25vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  .mainpageaccomodationtext {
    bottom: 0.5vw;
    padding: 0px;
  }
  .mainpageaccomodationtext h3 {
    font-size: 1.5rem;
    font-weight: 1900;
  }

  .mainpageeventbox {
    padding: 0.5rem 0rem 1rem 0rem;
  }

  .mainpageeventheading {
    font-size: 2.5rem;
    margin: 2vw 0 5vw 0;
  }
  .mainpageeventinfo {
    flex-direction: column-reverse;
    text-align: center;
    gap: 5vw;
    width: 98%;
  }
  .eventpara {
    width: 100%;
    height: fit-content;
    gap: 5vw;
  }
  .eventimages {
    width: 98%;
    height: fit-content;
    flex-direction: column;
    gap: 1vw;
  }
  .eventimages img {
    width: 90%;
    height: 35vw;
    object-fit: cover;
  }
  .eventimages img:nth-child(2) {
    align-self: flex-end;
  }

  .foodsection {
  width: 98%;
  margin: 3svh auto 10svh auto;
}
.foodheading {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 4svh;
}

.foodimgsection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap:0.5svw;
}
.foodimgsection img{
  width:85%;
  height:90%;
  border-radius: 0.5rem;
}
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  .mainimg {
    height: 95vh;
  }
  .mainpagegallerysection {
    width: 98%;
    top: 95vh;
  }
  .mainpagegallerytext h1 {
    font-size: 2.8rem;
  }
  .mainpageaccomodationheading {
    margin: 100vh 0vh 5vh 0vh;
  }
  .mainpageaccomodationheading p {
    font-size: 1rem;
    width: 90%;
  }

  .mainpageaccomodation {
    width: 95%;
  }
  .mainpageAccomodationbox {
    height: 65vh;
  }
  .mainpageaccomodationtext h3 {
    font-size: 1.7rem;
  }

  .foodsection {
  width: 95%;
  margin: 3vh auto 10vh auto;
}
.foodheading {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 6vh;
}

.foodimgsection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap:1vw;
}
.foodimgsection img{
  width:85%;
  height:90%;
}
}
