* {
  margin: 0;
  padding: 0;
  font-family: Cinzel, serif;
  scrollbar-width: none;
  color: rgb(175, 148, 100);
}
body {
  background-color: rgb(18, 18, 18);
}
.mainimg {
  width: 100vw;
  height: 99vh;
  /* background-color: white; */
  border-radius: 2rem;
}

.mainimg img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.gallerysection {
  width: 95vw;
  /* height:125vh; */
  height: 82vh;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  background-color: rgb(18, 18, 18);
  position: absolute;
  top: 105vh;
  right: 2vw;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  justify-items: center;
  align-items: center;
  /* background-color: yellow; */
}
.gallerysection .img img {
  width: 27vw;
  height: 35vh;
  border-radius: 2rem;
}

.mainaccomodationheading {
  margin: 80vh 0vh 5vh 0vh;
  text-align: center;
  font-size: 1.7rem;
}
.mainaccomodationheading h1{
   font-family: 'EduCursive', cursive;
    font-size:5rem;
    font-weight: 1900;
}

.mainaccomodation {
  height: 60vh;
  width: 90vw;
  margin: auto;
  display: flex;
  gap: 1vw;
  overflow: hidden;
}
.Accomodationbox {
  position: relative;
  height: 60vh;
  background-color: red;
  border-radius: 2rem;
  flex: 1;
  transition: flex 1s ease;
}
.Accomodationbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: block; */
  border-radius: 1rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 2vh;
  /* background:rgba(0,0,0,0.4);
  backdrop-filter: blur(2px); */
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}


.overlay h3 {
  color: white;
    font-family: 'EduCursive', cursive;
    font-size:2rem;
    font-weight: 1900;
}

.Accomodationbox.focused {
  flex: 5;
  z-index: 2;
}

.Accomodationbox.shrunk {
  flex: 0.8;
  /* filter: brightness(0.7); */
}
