* {
  margin: 0;
  padding: 0;
  font-family: Cinzel, serif;
  scrollbar-width: none;
  color: rgb(175, 148, 100);
}

.mainimg {
  width: 100%;
  height: 99vh;
  border-radius: 2rem;
}

.mainimg img {
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
}

.mainpagegallerysection {
  width: 92%;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  top: 105vh;
  right: 3.5vw;
  border-radius: 2rem;
}
.mainpagegallerytext {
  text-align: center;
  margin-bottom: 5vh;
}
.mainpagegallerytext h1 {
  font-family: "EduCursive", cursive;
  font-size: 3.5rem;
  font-weight: 5000;
  color: rgb(175, 148, 100);
}

.mainpage-gallery-imagesection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  justify-items: center;
  align-items: center;
}
.mainpagegalleryimg img {
  width: 27vw;
  height: 35vh;
  border-radius: 1rem;
}

.mainpageaccomodationheading {
  margin: 90vh 0vh 5vh 0vh;
  text-align: center;
  font-size: 1.7rem;
}
.mainpageaccomodationheading h1 {
  font-family: "EduCursive", cursive;
  font-size: 5rem;
  font-weight: 5000;
}
.mainpageaccomodationheading p {
  font-size: 1.2rem;
  color: rgb(175, 148, 100);
  width: 80%;
  margin: auto;
}

.mainpageaccomodation {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 1vw;
  overflow: hidden;
}
.mainpageAccomodationbox {
  position: relative;
  height: 60vh;
  flex: 1;
  transition: flex 0.5s ease-in-out;
}
.mainpageAccomodationbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}

.mainpageaccomodationtext {
  position: absolute;
  bottom: 2vh;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.mainpageaccomodationtext h3 {
  color: white;
  font-family: "EduCursive", cursive;
  font-size: 2rem;
  font-weight: 1900;
}

.mainpageAccomodationbox.focused {
  flex: 5;
  z-index: 2;
}

.mainpageAccomodationbox.shrunk {
  flex: 0.8;
}

.mainpageeventbox {
  background-color: rgb(3, 45, 39);
  width: 98%;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem 0rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.mainpageeventheading {
  text-align: center;
  font-size: 5rem;
  margin: 2vh 0 5vh 0;
  font-family: eduCursive, cursive;
}
.mainpageeventinfo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  width: 98%;
}
.eventpara {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15vh;
  color: rgb(218, 211, 211);
}
.eventimages {
  width: 46vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.eventimages img {
  width: 40%;
  height: 85%;
}
.eventimages img:nth-child(2) {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .mainimg {
    width: 100%;
    height: 70svh;
  }

  .mainpagegallerysection {
    width: 98%;
    /* height: 71svh; */
    padding: 1.5rem 0.1rem;
    box-sizing: border-box;
    position: absolute;
    top: 75svh;
    right: 1svw;
  }
  .mainpagegallerytext {
    text-align: center;
    margin-bottom: 2svh;
  }
  .mainpagegallerytext h1 {
    font-family: "EduCursive", cursive;
    font-size: 2.7rem;
    font-weight: 5000;
    color: rgb(175, 148, 100);
  }
  .mainpage-gallery-imagesection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0svw;
    justify-items: center;
    align-items: center;
  }
  .mainpagegalleryimg img {
    width: 98.5%;
    height: 20svh;
    border-radius: 1rem;
  }

  .mainpageaccomodationheading {
    margin: 85svh 0vh 1svh 0vh;
    text-align: center;
  }
  .mainpageaccomodationheading h1 {
    font-family: "EduCursive", cursive;
    font-size: 3.5rem;
    font-weight: 5000;
  }
  .mainpageaccomodationheading p {
    font-size: 0.7rem;
    color: rgb(175, 148, 100);
    width: 99%;
    margin: 0svh auto 1svh auto;
  }

  .mainpageaccomodation {
    height: 116svh;
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5svw;
    overflow: hidden;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .mainpageAccomodationbox {
    position: relative;
    height: 22svh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  .mainpageAccomodationbox img {
    width: 100%;
    height: 22svh;
    cursor: pointer;
    border-radius: 0;
  }

  .mainpageaccomodationtext {
    position: absolute;
    bottom: 0.1svh;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.1px;
    box-sizing: border-box;
  }
  .mainpageaccomodationtext h3 {
    color: white;
    font-family: "EduCursive", cursive;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .mainpageeventbox {
    background-color: rgb(3, 45, 39);
    width: 99%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.5rem 0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  .mainpageeventheading {
    text-align: center;
    font-size: 3rem;
    margin: 2svh 0 3svh 0;
    font-family: eduCursive, cursive;
  }
  .mainpageeventinfo {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 8svw;
    width: 98%;
    height: 82svh;
  }
  .eventpara {
    width: 100%;
    height: 33svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5svh;
    /* background-color: black; */
  }
  .eventpara p {
    font-size: 0.6rem;
    width: 100%;
    text-align: center;
  }
  .eventimages {
    width: 99%;
    height: 52svh;
    display: flex;
    flex-direction: column;
    gap: 1svw;
    /* background-color: yellow; */
  }
  .eventimages img {
    width: 90%;
    height: 25svh;
    border-radius: 0.5rem;
  }
  .eventimages img:nth-child(2) {
    align-self: flex-end;
  }
}
